* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100%;
  background: #32a852;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 3rem !important;
  margin-bottom: 50px;
}

#wrapper {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1.5em;
  align-items: center;
}

#switching p,
.slidecontainer .slider {
  margin-bottom: 20px;
}

#switching button {
  font-size: 1em;
  height: 60px;
  line-height: 60px;
  box-sizing: border-box;
  padding: 0 20px;
  background: #fff;
  border: 3px solid #5cdb7f;
  border-radius: 10px;
  transition: all 0.5s;
  margin: 0 20px;
}

#switching button:hover {
  background: #fff;
  color: #32a852;
  cursor: pointer;
  border: 3px solid darkgreen;
}

.slider {
  -webkit-appearance: none;
  width: 400px;
  height: 50px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 0;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  transition: all 0.5s;
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  background: #555;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  transition: all 0.5s;
  width: 50px;
  height: 50px;
  background: #555;
  cursor: pointer;
}

.slider::-moz-range-thumb:hover {
  background: #777;
}

.slider::-webkit-slider-thumb:hover {
  background: #777;
}
